<div
  class="w-full min-h-[100vh] flex items-center justify-center bg-gradient-to-br from-blue-900 to-blue-950 transition duration-1000">
  <div class="h-2/4">
    <div class="text-center">
      <p class="text-3xl md:text-5xl text-slate-200">404!</p>
      <p class="text-lg md:text-xl text-slate-300">This page doesn't exist, do you want go back to the <a
          routerLink="/home" class="hover:underline text-red-400 hover:text-red-600 duration-100 ease-out">home
          page</a>?</p>
      <br>

      <button routerLink="/home"
        class="text-xl bg-slate-700 text-slate-200 rounded-md px-5 py-2 shadow-lg hover:bg-slate-600 duration-150 ease-out">Home</button>
    </div>
  </div>
</div>
