<div class="w-full h-[100vh]">
  <div
    class="w-full min-h-full bg-gradient-to-br from-blue-900 to-blue-950 transition duration-1000 shadow-lg flex items-center">
    <div class="md:ml-20 ml-10 h-2/4 w-3/4 md:h-2/4 md:w-2/4 text-justify">
      <p class="text-4xl font-sans font-medium text-neutral-200">Note:</p>
      <p class="text-lg text-slate-200">This site has been developed for demonstration purposes and for time reasons not
        all pages have been completed.</p>
      <br>

      <button routerLink="/articles"
        class="text-xl bg-slate-700 text-slate-200 rounded-md px-5 py-2 shadow-lg hover:bg-slate-600 duration-150 ease-out">Articles</button>
    </div>
  </div>
</div>
